$mainColor: #a608a6;

/* IBM Plex Mono */
@font-face {
    font-family: mono-reg;
    src: url(fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: mono-bold;
    src: url(fonts/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: mono-italic;
    src: url(fonts/IBMPlexMono-Italic.ttf);
}

/* Chakra Petch */
@font-face {
    font-family: chakra-reg;
    src: url(fonts/ChakraPetch-Regular.ttf);
}

@font-face {
    font-family: chakra-bold;
    src: url(fonts/ChakraPetch-Bold.ttf);
}

@font-face {
    font-family: chakra-italic;
    src: url(fonts/ChakraPetch-Italic.ttf);
}

* {
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
}

body {
    background-color: #242a38;
}

::selection {
    background-color: #a608a6d0;
    color: black;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(94, 93, 93, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(94, 93, 93);
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 105, 105);
}

h1 {
    font-family: chakra-reg;
}

span {
    font-family: mono-reg;
}

b {
    font-family: chakra-bold;
}

a {
    color: $mainColor;
}

#navbar {
    background-color: #4e5970;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    box-shadow: -1px -1px 24px -1px rgba(0,0,0,0.75);
    cursor: default;
    user-select: none;
    
    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        margin-right: 16px;
        transition-duration: 0.2s;
        font-family: chakra-reg;
        
        &:hover {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
            padding-bottom: 24px;
            transition-duration: 0.2s;
        }
    }
    
    .active {
        color: $mainColor;
        border-bottom: 2px solid $mainColor;
        padding-bottom: 24px;
    }
    
}

.logo {
    position: absolute;
    left: 10px;
    background-image: url("images/icon.png");
    background-size: 86%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 12px;
    margin-top: 2px;
    cursor: pointer;
    user-select: none;

    span {
        font-size: 40px;
        margin-left: -5px;
        padding-left: 50px;
        color: #242a38;
        font-family: chakra-bold;
    }
}

.header-content {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
    margin-top: 120px;
    margin-bottom: 100px;

    h1 {
        font-weight: 100;
        font-size: 44px;
    }

    span {
        font-size: 20px;
        font-weight: lighter;
        text-align: justify;
    }

    a {
        color: $mainColor;
    }

    b {
        font-family: chakra-bold;
    }
}

#cheats {
    /* margin: auto; */
    /* display: block;
    justify-content: center; */
    
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */

    margin-left: 3em;

    .block {
        width: 350px;
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        color: white;
        transition-duration: 0.5s;
        user-select: none;
        
        .title {
            position: absolute;
            left: 20px;
            top: 0px;
            font-size: 18px;
            font-weight: 600;
            background-color: #000000b2;
            margin-left: -20px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-right: 20px;
        }
        
        .desc {
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 12px;
            font-style: italic;
            background-color: #000000b2;
            padding: 10px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
        }

        &:hover {
            transition-duration: 0.5s;
            box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.75);
        }
    }
    
}

#tutorial {
    margin: auto;
    padding-left: 12.5em;

    .block {
        width: 350px;
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        border-radius: 12px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        color: white;
        transition-duration: 0.2s;

        .title {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 18px;
            font-weight: 600;
        }
    
        div {
            position: absolute;
            bottom: 0px;
            background-color: #4e5970;
            width: 100%;
            height: 60px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        a {
            color: $mainColor;
            text-decoration: none;
        }

        .link {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 10px;
            border-radius: 6px;
            transition-duration: 0.2s;
            font-size: 14px;
            transition-duration: 0.2s;

            &:hover {
                background-color: #5e6b8a5b;
                transition-duration: 0.2s;
            }
        }

        .button {
            color: white;
            background-color: $mainColor;
            padding: 10px;
            border-radius: 6px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            transition-duration: 0.2s;
            font-size: 14px;

            &:hover {
                background-color: #920792;
                transition-duration: 0.2s;
            }
        }
    }
}

#details {
    color: white;
    text-align: center;

    .warning {
        color: red;
        margin-bottom: 10px;    
    }

    .buy {
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }


    #buy-btn {
        margin-top: 20px;
    }

    input[type="email"] {
        color: black;
        background-color: #4e5970;
        border: none;
        width: 300px;
        height: 40px;
        border-radius: 8px;
        margin-top: 20px;
        font-size: 16px;
        padding-left: 5px;
        transition-duration: 0.2s;
        outline: 1px solid #a608a600;
   
        &::placeholder {
            color: #242a38;
        }

        &:focus {
            outline: 1px solid $mainColor;
            transition-duration: 0.2s;
        }

    }

    .cheat-desc {
        margin-bottom: 70px;

        ul {
            display: inline-block;
            text-align: left;
        }
    }

    .images {
        margin-bottom: 70px;

        img {
            max-height: 40%;
            max-width: 40%;
            margin-bottom: 10px;
            border-radius: 4px;
        }
    }
}

.hidden {
    display: none;
}